// This stylesheet is written according to BEM convention.

// COLORS:

$green-active: #7FB800;
$green-not-active: #248232;
$red-active: #EF233C;
$red-not-active: #D90429;
$yellow-active: #F5CB5C;
$yellow-not-active: #FFB400;
$yellow-controls: #FCA311;
$blue-active: #00A6ED;
$blue-not-active: #006BA6;
$orange: #ED9017;
$yellow-light: #F6E6B4;
$black: #1B1B1E;
$white: #E5E5E5;
$grey: #46494C;

// FONTS:

$orbitron-for-digits: 'Orbitron', sans-serif;
$black-han-for-logo: 'Black Han Sans', sans-serif;
$open-sans-for-controls: 'Open Sans Condensed', sans-serif;

@mixin text ($font-family, $font-size, $color) {
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
  text-align: center;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient($orange, $yellow-light);
}

.circle {
  position: relative;
  display: block;
  width: 600px;
  height: 600px;
  background-color: $black;
  border-radius: 100%;
}

.circle_half {
  display: block;
  width: 100%;
  height: 49%;
}

@mixin circle_half_quarter ($border-radius) {
  display: inline-block;
  width: 49%;
  height: 100%;
  background-color: $black;
  border-radius: $border-radius;
}

.circle_half_quarter--top-left {
  @include circle_half_quarter(100% 0 0 0);
}

.circle_half_quarter--top-right {
  @include circle_half_quarter(0 100% 0 0);
}

.circle_half_quarter--bottom-left {
  @include circle_half_quarter(0 0 0 100%);
}

.circle_half_quarter--bottom-right {
  @include circle_half_quarter(0 0 100% 0);
}

@mixin circle_half_quarter_btn ($left, $border-radius, $color) {
  position: relative;
  top: 5%;
  left: $left;
  width: 95%;
  height: 95%;
  background-color: $color;
  border-radius: $border-radius;
  cursor: pointer;
}

.circle_half_quarter_btn--green {
  @include circle_half_quarter_btn(5%, 100% 0 0 0, $green-not-active);
}

.circle_half_quarter_btn--red {
  @include circle_half_quarter_btn(3%, 0 100% 0 0, $red-not-active);
}

.circle_half_quarter_btn--yellow {
  @include circle_half_quarter_btn(5%, 0 0 0 100%, $yellow-not-active);
}

.circle_half_quarter_btn--blue {
  @include circle_half_quarter_btn(3%, 0 0 100% 0, $blue-not-active);
}

.circle_center {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 45%;;
  height: 45%;
  padding: 2.5%;
  background-color: $black;
  border-radius: 100%;
}

.circle_center_controls {
  width: 100%;
  height: 100%;
  background-color: $white;
  border-radius: 100%;
}

@mixin circle_center_controls_section ($align-items) {
  display: flex;
  align-items: $align-items;
  justify-content: center;
  width: 100%;
  height: 33%;
}

.circle_center_controls_section--top {
  @include circle_center_controls_section(flex-end)
}

.circle_center_controls_section--middle {
  @include circle_center_controls_section(flex-end)
}

.circle_center_controls_section--bottom {
  @include circle_center_controls_section(center)
}

.controls_section_title {
  @include text($black-han-for-logo, 50px, $black);
  display: inline;
}

.controls_section_reg {
  @include text($black-han-for-logo, 20px, $black)
}

.controls_section_item {
  margin: 0 15px;
}

.controls_section_item_counter {
  display: flex;
  justify-content: flex-end;
  width: 80px;
  height: 40px;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: $grey;
  border: 5px solid $black;
  border-radius: 10%;
  box-sizing: border-box;
}

.counter_value {
  @include text($orbitron-for-digits, 25px, $white)
}

.controls_section_item_btn {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  background-color: $yellow-controls;
  border: 5px solid $black;
  border-radius: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.controls_section_item_diode {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 auto 5px auto;
  background-color: $black;
  border-radius: 100%;
}

.controls_section_item_text {
  display: block;
  @include text($open-sans-for-controls, 20px, $black);
  text-transform: uppercase;
}

.controls_section_power_text {
  display: inline;
  @include text($open-sans-for-controls, 20px, $black);
  text-transform: uppercase;
}

.controls_section_power_btn {
  display: inline-block;
  height: 20px;
  width: 40px;
  padding: 5px;
  background-color: $black;
  border-radius: 5px;
}

@mixin power-btn ($background-color) {
  display: inline-block;
  height: 100%;
  width: 45%;
  background-color: $background-color;
  border-radius: 5px;
}

.power_btn--off {
  @include power-btn($blue-not-active);
  cursor: pointer;
}

.power_btn--on {
  @include power-btn($black);
  cursor: pointer;
}

